$sansFontFamily:        Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        "Courier New", monospace;

$baseFontFamily:        $serifFontFamily;
$altFontFamily:         $sansFontFamily;

@import "../components/bootstrap-sass/lib/variables";

@import "../components/bootstrap-sass/lib/mixins";
@import "../components/bootstrap-sass/lib/reset";

// Grid system and page structure
@import "../components/bootstrap-sass/lib/scaffolding";
@import "../components/bootstrap-sass/lib/grid";
@import "../components/bootstrap-sass/lib/layouts";

// Base CSS
@import "../components/bootstrap-sass/lib/type";

// Components: common
@import "../components/bootstrap-sass/lib/sprites";

// Components: Buttons & Alerts
@import "../components/bootstrap-sass/lib/buttons";
@import "../components/bootstrap-sass/lib/button-groups";
@import "../components/bootstrap-sass/lib/alerts"; // Note: alerts share common CSS with buttons and thus have styles in buttons

// Components: Nav
@import "../components/bootstrap-sass/lib/navs";
@import "../components/bootstrap-sass/lib/navbar";

// Components: Misc
@import "../components/bootstrap-sass/lib/hero-unit";

// Utility classes
@import "../components/bootstrap-sass/lib/utilities"; // Has to be last to override when necessary

@import "../components/bootstrap-sass/lib/responsive";

.hero-unit {
    background-image: url("../img/foto-zw.png");
    background-repeat: no-repeat;
    background-position: left 50px;
    padding-left: 150px;

    h1 {
        font-size: 55px;
    }
}

.email {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: left;
}

a:hover {
    text-decoration: none;
}

@media (max-width: 979px) {
    .span4 {
        h2 {
            font-size: 25px;
        }
    }
}

@media (max-width: 767px) {
    .hero-unit {
        h1 {
            font-size: 45px;
        }
    }
}