$sansFontFamily:        Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        "Courier New", monospace;

$baseFontFamily:        $serifFontFamily;
$altFontFamily:         $sansFontFamily;

$linkColor: #333;

@import "../bower_components/bootstrap-sass/lib/variables";

@import "../bower_components/bootstrap-sass/lib/mixins";
@import "../bower_components/bootstrap-sass/lib/reset";

// Grid system and page structure
@import "../bower_components/bootstrap-sass/lib/scaffolding";
@import "../bower_components/bootstrap-sass/lib/layouts";

// Base CSS
@import "../bower_components/bootstrap-sass/lib/type";

// Components: Misc
@import "../bower_components/bootstrap-sass/lib/hero-unit";

@import "../bower_components/bootstrap-sass/lib/responsive";

.hero-unit {
    background-image: url("../img/foto-zw.png");
    background-repeat: no-repeat;
    background-position: left 20px;
    padding-left: 150px;
    height: 130px;
    padding-top: 30px;

    h1 {
        font-size: 55px;
    }
}

a {
    text-decoration: underline;

    &.no-underline {
        text-decoration: none;
    }
    &:hover {

    }
}

ul.inline {
    li {
        padding: 0;

        &:after {
            content: " - ";
        }

        &.prefix:after,
        &:last-child:last-of-type:after {
            content: "";
        }

        &.prefix {
            font-style: italic;
        }
    }
}

ul.inline-comma {
    li {
        &:after {
            content: ", ";
        }

        &:last-child:last-of-type:after {
          content: ".";
        }
    }
}

.underlined {
    text-decoration: underline;
}

.smaller {
    font-size: 90%;
}

.block {
    page-break-after: auto;
    page-break-inside: avoid;
}

.obs {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
}

@media (max-width: 979px) {
    .span4 {
        h2 {
            font-size: 25px;
        }
    }
}

@media (max-width: 767px) {
    .hero-unit {
        padding-right: 40px;

        h1 {
            font-size: 35px;
        }
        h2 {
            font-size: 28px;
        }
    }
}

@media (max-width: 550px) {
    .hero-unit {
        padding-right: 30px;

        h1 {
            font-size: 25px;
        }
        h2 {
            font-size: 20px;
        }
    }
}

@media (max-width: 450px) {
    .hero-unit {
        padding: 20px;
        height: 210px;
        background-position: left 85px;

        h1 {
            font-size: 26px;
        }
        h2 {
            margin-top: 0;
        }
    }
}

@media print {
    .navbar {
        display: none;
    }

    .hero-unit {
        padding: 0;
        margin: 0;
        background-image: none;
        background-color: transparent;
        text-align: center;
        height: auto;
    }

    .row-fluid [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        @include box-sizing(border-box);
    }

    .span4 {
        h2 {
            margin-top: 0.4em;
            margin-bottom: 0.1em;
            font-size: 20px;
        }

        dl {
            margin: 0;
        }
    }

    .techniques a {
        text-decoration: none;
        &[href]:after {
            content: "";
        }
    }
}

@page {
    margin: 1.0cm 1.5cm
}
